.form-as-container {
  width: 30rem;
}
.form-as-container-login {
  width: 25rem;
}

.label-wrapper {
  width: 10rem;
  text-align: left;
}

.error-li {
  width: 30rem;
}
.error-tag {
  width: 31rem;
}
.inline-form-text {
  color: rgb(197, 14, 14);
}

.error-msg {
  margin: 2rem auto;
  width: 25rem;
  height: 3rem;
  padding: 0.75rem;
  font-size: larger;
  text-align: center;
  justify-content: center;
  background-color: #ffacac;
  border: solid 1px #ffacac;
  border-radius: 10px;
}

.success-div {
  margin: 5rem auto;
  padding: 1rem;
  width: 25rem;
  height: 9rem;
  font-size: larger;
  text-align: center;
  justify-content: center;
  background-color: rgb(175, 243, 175);
  border: solid 1px rgb(175, 243, 175);
  border-radius: 10px;
}

.article-label {
  width: 5rem;
  text-align: left;
}

#IdTitle,
#IdContent {
  width: 500px;
}

#IdContent {
  height: 500px;
}

.create-button {
  position: relative;
  left: 4rem;
  width: 10rem;
}
.title-form-header {
  margin: 1rem auto;
  width: 30rem;
  position: relative;
  left: 4rem;
}
